/* Add here all your css styles (customizations) */
#carousel-ads {
  margin-top: 0px!important;
}

.search-realty {
  padding: 0px!important;
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  ul {
    display: flex;
    justify-content: center;
    li {
      min-width: 30%;
    }
  }
  .form-control {
    border: 1px solid black;
  }
}

.btn-green {
  background-color: #72c02c!important;
}

.block-product {
  margin-bottom: 10px;
}

.block-news {
  padding: 0px!important;
  border-top: 0px!important;
  h2 {
    text-align: center;
    padding-top: 5px!important;
    padding-left: 0px!important;
    color: white;
    font-size: 22px;
  }
  ul>li {
    padding-left: 10px!important;
    font-size: 15px;
  }
  .box-header {
    background-color: lightcoral;
    h2 {
      font-weight: 900px;
    }
  }
}

.block-header {
  height: 30px;
  border-left: 6px double red;
  margin-bottom: 20px;
  font-size: 15px;
  h2 {
    margin-top: -20px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

.home-title {
  color: lightcoral!important;
  font-weight: bold!important;
}
.home-button {
  right: 100px;
  top: 65px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 555555;
  position: fixed;
  padding: 9px 10px;
  border-radius: 3px 0 0 3px !important;
  button {
    border-radius: 20px!important;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.select2-container .select2-selection--single {
  height: 32px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px !important;
}
