<div class="col-md-9" ng-controller="ProductsController as vm">
  <div class="tab-v1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home-1" data-toggle="tab">Thông tin cơ bản</a></li>
      <li><a href="#profile-1" data-toggle="tab">Thông tin bổ sung</a></li>
      <li><a href="#messages-1" data-toggle="tab">Thông tin nâng cao</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home-1">
        <form action="#" class="sky-form">
          <header>Thông tin cơ bản</header>
          <fieldset>
            <section>
              <label class="label">Loại</label>
              <div class="row">
              <div class="col-md-4">
                <label class="select">
                  <select class="new-product-type">
                    <option value="0" style="font-weight: bold">Nhà/Đất</option>
                    <option value="1" >Nhà bán</option>
                    <option value="2">Đất bán</option>
                    <option value="3" style="font-weight: bold">Cửa hàng</option>
                    <option value="4">Avelina</option>
                  </select>
                </label>
              </div>
            </section>
            <section>
              <label class="label">Tiêu đề</label>
              <label class="input">
              <input type="text">
              </label>
            </section>
            <section>
              <label class="label">Mô tả chi tiết</label>
              <label class="textarea">
              <textarea rows="7"></textarea>
              </label>
            </section>
            <section>
              <div class="dropzone" id="image-upload" style="border-color: red"></div>
            </section>
            <section>
              <label class="label">Gắn thẻ</label>
              <label class="input">
              <input type="text">
              </label>
            </section>
            <section>
              <label class="label">Hình thức</label>
              <div class="row">
                <div class="col col-3">
                  <label class="radio state-success">
                  <input type="radio" name="radio" checked><i class="rounded-x"></i>Cần Mua
                  </label>
                </div>
                <div class="col col-3">
                  <label class="radio state-success">
                  <input type="radio" name="radio"><i class="rounded-x"></i>Cần Bán
                  </label>
                </div>
                <div class="col col-3">
                  <label class="radio state-success">
                  <input type="radio" name="radio"><i class="rounded-x"></i>Cho thuê
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="label">Giá</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
                <div class="col-md-2">
                  <!-- cai nay them vao enum e hi -->
                  <label class="label">Đơn vị</label>
                  <label class="select">
                    <select class="new-product-type">
                      <option value="0">Đơn vị (vnđ)</option>
                      <option value="1">Thỏa thuận</option>
                      <option value="2">Triệu</option>
                      <option value="3" >Trăm triệu</option>
                      <option value="4">Tỷ</option>
                      <option value="5">Trăm tỷ</option>
                      <option value="6">Nghìn tỷ</option>
                    </select>
                  </label>
                </div>
                <div class="col-md-6">
                  <!-- cai nay them vao enum e hi -->
                  <label class="label">Giấy tờ pháp lý</label>
                  <label class="select">
                    <select class="new-product-type">
                      <option value="0">Loại giấy tờ</option>
                      <option value="1" >Sổ đỏ</option>
                      <option value="2">Sổ hồng</option>
                      <option value="3">Công chứng</option>
                    </select>
                  </label>
                  </label>
                </div>
              </div>
            </section>
          </fieldset>
          <header>Thông tin chi tiết</header>
          <fieldset>
            <section>
              <label class="label">Vị trí</label>
              <div class="row">
                <div class="col-md-4">
                  <label class="select">
                    <select class="select2">
                      <option value="0">Chọn thành phố/ tỉnh</option>
                      <option value="1">Alexandra</option>
                      <option value="2">Alice</option>
                      <option value="3">Anastasia</option>
                      <option value="4">Avelina</option>
                    </select>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="select">
                    <select class="select2">
                      <option value="0">Chọn quận/ huyện</option>
                      <option value="1">Alexandra</option>
                      <option value="2">Alice</option>
                      <option value="3">Anastasia</option>
                      <option value="4">Avelina</option>
                    </select>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="select">
                    <select class="select2">
                      <option value="0">Chọn phường/ xã</option>
                      <option value="1">Alexandra</option>
                      <option value="2">Alice</option>
                      <option value="3">Anastasia</option>
                      <option value="4">Avelina</option>
                    </select>
                  </label>
                </div>
              </div>
            </section>
            <section>
              <div class="row">
                <div class="col-md-4">
                  <label class="label">Lô/ Thửa</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="label">Đường</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="label">Diện tích</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
              </div>
            </section>
            <section>
              <div class="row">
                <div class="col-md-4">
                  <label class="label">Mặt tiền</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="label">Hướng</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="label">Dự án</label>
                  <label class="input">
                  <input type="text">
                  </label>
                </div>
              </div>
            </section>
          </fieldset>
          <!-- Het thong tin co ban -->
          <header>Thông tin bổ sung</header>
          <fieldset>
            <section>
              <div class="row">
                <div class="col col-4">
                  <label class="label">Số tầng</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
                <div class="col col-4">
                  <label class="label">Phòng khách</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
                <div class="col col-4">
                  <label class="label">Phòng ngủ</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col col-4">
                  <label class="label">Toilet</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
                <div class="col col-4">
                  <label class="label">Nhà bếp</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
                <div class="col col-4">
                  <label class="label">Phòng thờ</label>
                  <label class="input">
                  <input type="number">
                  </label>
                </div>
              </div>
            </section>
            <section>
              <label class="label">Năm xây dựng</label>
              <label class="input">
              <input type="text">
              </label>
            </section>
            <section>
              <label class="label" style="color: blue">Nội thất</label>
              <div class="row">
                <div class="col-md-12">
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox" checked=""><i></i>Bàn ăn
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Kệ ti vi
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Sàn gỗ/đá
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Bình nóng lạnh
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Bồn tắm
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Giường ngủ
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Trần thả
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Điều hòa
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Sofa phòng khách
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Tủ quần áo
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Tủ bếp
                  </label>
                  <label class="col-md-3 checkbox">
                  <input type="checkbox" name="checkbox"><i></i>Bồn rửa mặt
                  </label>
                </div>
              </div>
            </section>
            <section>
              <label class="label" style="color: blue">Tiện ích kèm theo</label>
              <div class="row">
                <div class="col-md-12">
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox" checked=""><i></i>Chỗ để xe máy
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Hệ thống an ninh
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Truyền hình cáp
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Chỗ để ôtô
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Nhân viên bảo vệ
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Internet
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Trung tâm thể dục
                  </label>
                  <label class="checkbox col-md-3">
                  <input type="checkbox" name="checkbox"><i></i>Hồ bơi
                  </label>
                  <label class="checkbox col-md-3">
                  <input type="checkbox" name="checkbox"><i></i>Sân thượng
                  </label>
                </div>
              </div>
            </section>
            <section>
              <label class="label" style="color: blue">Đặc điểm xã hội</label>
              <div class="row">
                <div class="col-md-12">
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Khu dân trí cao
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox" checked=""><i></i>Gần trường
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần bệnh viện
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần công viên
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần công an
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần nhà trẻ
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần siêu thị
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần ga tàu
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần sân bay
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần bến xe
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Gần chợ
                  </label>
                  <label class="checkbox col-md-3">
                    <input type="checkbox" name="checkbox"><i></i>Tiện kinh doanh
                  </label>
                </div>
              </div>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn-u">Submit</button>
            <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone ("#image-upload", {
      paramName: "image[avatar]",
      addRemoveLinks: true,
      url: "/products",
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  });
</script>
