<footer class="clearfix">
  <div class="pull-right">
    Development <i class="fa fa-heart text-danger"></i> by <a href="#" target="_blank">NEETs Team</a>
  </div>
  <div class="pull-left">
    <span>2018</span> &copy; <a href="#" target="_blank">Realty Project</a>
  </div>
</footer>
