<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
      <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
      <i class="gi gi-settings"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-options">
        <li class="dropdown-header text-center">Header Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Page Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Main Layout</li>
        <li>
          <button class="btn btn-sm btn-block btn-primary" id="options-header-top">Fixed Side/Header (Top)</button>
          <button class="btn btn-sm btn-block btn-primary" id="options-header-bottom">Fixed Side/Header (Bottom)</button>
        </li>
        <li class="dropdown-header text-center">Footer</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-footer-static">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-footer-fixed">Fixed</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Search Form -->
  <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
    <div class="form-group">
      <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
    </div>
  </form>
  <ul class="nav navbar-nav-custom pull-right">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
      <%= image_tag "avatar.jpg" %> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="dropdown-header text-center">Account</li>
        <li class="divider"></li>
        <li>
          <a href="page_ready_user_profile.html">
          <i class="fa fa-user fa-fw pull-right"></i>
          Profile
          </a>
          <a href="#modal-user-settings" data-toggle="modal">
          <i class="fa fa-cog fa-fw pull-right"></i>
          Settings
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="page_ready_lock_screen.html"><i class="fa fa-lock fa-fw pull-right"></i> Lock Account</a>
          <a href="#"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</header>
