<div id="sidebar">
  <div class="sidebar-scroll">
    <div class="sidebar-content">
      <a href="index.html" class="sidebar-brand">
      <i class="material-icons" style="font-size: 20px; color: red">all_inclusive</i><strong>NEETs</strong>Team
      </a>
      <div class="sidebar-section sidebar-user clearfix">
        <div class="sidebar-user-avatar">
          <a href="page_ready_user_profile.html">
          <%= image_tag "avatar.jpg" %>
          </a>
        </div>
        <div class="sidebar-user-name">John Doe</div>
        <div class="sidebar-user-links">
          <a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
          <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
          <a href="#modal-user-settings" data-toggle="modal" class="enable-tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
          <a href="login.html" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li>
          <a href="dashboard" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Dashboard</a>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
          <span class="sidebar-header-title">Resource Management</span>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-parents sidebar-nav-icon"></i>Users</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="hi hi-tasks sidebar-nav-icon"></i>Categories</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-pencil sidebar-nav-icon"></i>Articles</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-home sidebar-nav-icon"></i>Product types</a>
          <ul>
            <li>
              <a href="product_types">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="hi hi-home sidebar-nav-icon"></i>Products</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <%= link_to "Add", new_admins_product_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-group sidebar-nav-icon"></i>Companies</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="hi hi-hand-right sidebar-nav-icon"></i>Provinces</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="hi hi-hand-right sidebar-nav-icon"></i>Districts</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="hi hi-hand-right sidebar-nav-icon"></i>Wards</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
          <span class="sidebar-header-title">Master Manager</span>
        </li>
        <li>
          <a href="subscribles"><i class="fa fa-envelope-o sidebar-nav-icon"></i>Subscrible</a>
        </li>
   <!--      <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i>User Manager</a>
          <ul>
            <li>
              <a href="page_forms_general.html">General</a>
            </li>
            <li>
              <a href="page_forms_components.html">Components</a>
            </li>
            <li>
              <a href="page_forms_validation.html">Validation</a>
            </li>
            <li>
              <a href="page_forms_wizard.html">Wizard</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-calendar sidebar-nav-icon"></i>Schedule</a>
          <ul>
            <li>
              <a href="page_tables_general.html">General</a>
            </li>
            <li>
              <a href="page_tables_responsive.html">Responsive</a>
            </li>
            <li>
              <a href="page_tables_datatables.html">Datatables</a>
            </li>
          </ul>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
          <span class="sidebar-header-title">Admin Manager</span>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-lock sidebar-nav-icon"></i>Change Password</a>
          <ul>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>3 Level Menu</a>
              <ul>
                <li>
                  <a href="#">Link 1</a>
                </li>
                <li>
                  <a href="#">Link 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="page_comp_maps.html">Maps</a>
            </li>
            <li>
              <a href="page_comp_charts.html">Charts</a>
            </li>
            <li>
              <a href="page_comp_gallery.html">Gallery</a>
            </li>
            <li>
              <a href="page_comp_carousel.html">Carousel</a>
            </li>
            <li>
              <a href="page_comp_calendar.html">Calendar</a>
            </li>
            <li>
              <a href="page_comp_animations.html">CSS3 Animations</a>
            </li>
            <li>
              <a href="page_comp_syntax_highlighting.html">Syntax Highlighting</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-brush sidebar-nav-icon"></i>Ready Pages</a>
          <ul>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Errors</a>
              <ul>
                <li>
                  <a href="page_ready_400.html">400</a>
                </li>
                <li>
                  <a href="page_ready_401.html">401</a>
                </li>
                <li>
                  <a href="page_ready_403.html">403</a>
                </li>
                <li>
                  <a href="page_ready_404.html">404</a>
                </li>
                <li>
                  <a href="page_ready_500.html">500</a>
                </li>
                <li>
                  <a href="page_ready_503.html">503</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Get Started</a>
              <ul>
                <li>
                  <a href="page_ready_blank.html">Blank</a>
                </li>
                <li>
                  <a href="page_ready_blank_alt.html">Blank Alternative</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="page_ready_search_results.html">Search Results (4)</a>
            </li>
            <li>
              <a href="page_ready_article.html">Article</a>
            </li>
            <li>
              <a href="page_ready_user_profile.html">User Profile</a>
            </li>
            <li>
              <a href="page_ready_contacts.html">Contacts</a>
            </li>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>e-Learning</a>
              <ul>
                <li>
                  <a href="page_ready_elearning_courses.html">Courses</a>
                </li>
                <li>
                  <a href="page_ready_elearning_course_lessons.html">Course - Lessons</a>
                </li>
                <li>
                  <a href="page_ready_elearning_course_lesson.html">Course - Lesson Page</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Message Center</a>
              <ul>
                <li>
                  <a href="page_ready_inbox.html">Inbox</a>
                </li>
                <li>
                  <a href="page_ready_inbox_compose.html">Compose Message</a>
                </li>
                <li>
                  <a href="page_ready_inbox_message.html">View Message</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="page_ready_chat.html">Chat</a>
            </li>
            <li>
              <a href="page_ready_timeline.html">Timeline</a>
            </li>
            <li>
              <a href="page_ready_tickets.html">Tickets</a>
            </li>
            <li>
              <a href="page_ready_tasks.html">Tasks</a>
            </li>
            <li>
              <a href="page_ready_faq.html">FAQ</a>
            </li>
            <li>
              <a href="page_ready_pricing_tables.html">Pricing Tables</a>
            </li>
            <li>
              <a href="page_ready_invoice.html">Invoice</a>
            </li>
            <li>
              <a href="page_ready_forum.html">Forum (3)</a>
            </li>
            <li>
              <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Login, Register &amp; Lock</a>
              <ul>
                <li>
                  <a href="login.html">Login</a>
                </li>
                <li>
                  <a href="login_full.html">Login (Full Background)</a>
                </li>
                <li>
                  <a href="login_alt.html">Login 2</a>
                </li>
                <li>
                  <a href="login.html#reminder">Password Reminder</a>
                </li>
                <li>
                  <a href="login_alt.html#reminder">Password Reminder 2</a>
                </li>
                <li>
                  <a href="login.html#register">Register</a>
                </li>
                <li>
                  <a href="login_alt.html#register">Register 2</a>
                </li>
                <li>
                  <a href="page_ready_lock_screen.html">Lock Screen</a>
                </li>
                <li>
                  <a href="page_ready_lock_screen_alt.html">Lock Screen 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
