<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
          <h1>Chào mừng đại ca!<br><small>Hôm nay anh đẹp trai vl!</small></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-title">
      <h2><strong>Đại ca đăng tin ở đây </strong></h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="progress progress-striped active">
          <div id="progress-bar-wizard" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
        </div>
        <div id="progress-wizard" class="form-horizontal ui-formwizard">
          <div id="progress-first" class="step ui-formwizard-content" style="display: block;">
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-username">Tiêu đề tin</label>
              <div class="col-md-10">
                <input type="text" id="example-progress-username" name="example-progress-username" class="form-control ui-wizard-content" placeholder="Gõ cái tiêu đề vào đây, đừng có để trống">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-email">Loại gì?</label>
              <div class="col-md-10">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Nhà mặt phố</option>
                  <option value="United Kingdom">Biệt thự</option>
                  <option value="Afghanistan">Villa</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Mô tả</label>
              <div class="col-md-10">
                <textarea class="ckeditor" id="product-description-editor"></textarea>
                <span class="help-block">Viết cái này cho rõ ý ra thì bán mới được nhé !</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password">Giá bao nhiêu</label>
              <div class="col-md-10">
                <input type="text" id="example-progress-password" name="example-progress-password" class="form-control ui-wizard-content" placeholder="Muốn bán bao nhiêu ?">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Diện tích</label>
              <div class="col-md-10">
                <input type="text" id="example-progress-password2" name="example-progress-password2" class="form-control ui-wizard-content" placeholder="Rộng mấy mét vuông">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Giấy tờ pháp lý</label>
              <div class="col-md-10">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Sổ đỏ</option>
                  <option value="United Kingdom">Sổ hồng</option>
                  <option value="Afghanistan">Công chứng phường</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Tỉnh/Thành phố</label>
              <div class="col-md-4">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Đà Nẵng</option>
                  <option value="United Kingdom">Hà Nội</option>
                  <option value="Afghanistan">Hồ Chí Minh</option>
                </select>
              </div>
              <label class="col-md-2 control-label" for="example-password2">Quận/Huyện</label>
              <div class="col-md-4">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Hải Châu</option>
                  <option value="United Kingdom">Cẩm Lệ</option>
                  <option value="Afghanistan">Ngũ Hành Sơn</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Xã/Phường</label>
              <div class="col-md-4">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Hòa Xuân</option>
                  <option value="United Kingdom">Hòa Cường</option>
                  <option value="Afghanistan">Hòa Phú</option>
                </select>
              </div>
              <label class="col-md-2 control-label" for="example-password2">Đường phố</label>
              <div class="col-md-4">
                <input type="text" id="example-progress-password2" name="example-progress-password2" class="form-control ui-wizard-content" placeholder="Nhập tên đường chính xác vào">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-password2">Lô/ Thửa</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-password2" name="example-progress-password2" class="form-control ui-wizard-content" placeholder="Nhập số lô/thửa">
              </div>
              <label class="col-md-2 control-label" for="example-password2">Mặt tiền</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-password2" name="example-progress-password2" class="form-control ui-wizard-content" placeholder="Đường rộng bao nhiêu ">
              </div>
              <label class="col-md-2 control-label" for="example-password2">Hướng nhà</label>
              <div class="col-md-2">
                <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Chọn 1 cái đi" style="width: 250px; display: none;">
                  <option></option>
                  <option value="United States">Đông</option>
                  <option value="United Kingdom">Tây</option>
                  <option value="Afghanistan">Nam</option>
                  <option value="Afghanistan">Bắt</option>
                </select>
              </div>
            </div>
          </div>

          <div id="progress-second" class="step ui-formwizard-content" style="display: none;">
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-firstname">Diện tích sàn</label>
              <div class="col-md-10">
                <input type="text" id="example-progress-firstname" name="example-progress-firstname" class="form-control ui-wizard-content" placeholder="Tổng diện tích sàn" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-lastname">Số tầng</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder="Mấy tầng" disabled="disabled">
              </div>
              <label class="col-md-2 control-label" for="example-lastname">Số phòng khách</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder=".." disabled="disabled">
              </div>
              <label class="col-md-2 control-label" for="example-lastname">Số phòng ngủ</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder=".." disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-lastname">Số phòng bếp</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder="Mấy tầng" disabled="disabled">
              </div>
              <label class="col-md-2 control-label" for="example-lastname">Số phòng vệ sinh</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder=".." disabled="disabled">
              </div>
              <label class="col-md-2 control-label" for="example-lastname">Phòng thờ</label>
              <div class="col-md-2">
                <input type="text" id="example-progress-lastname" name="example-progress-lastname" class="form-control ui-wizard-content" placeholder=".." disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-address">Xây dựng năm nào</label>
              <div class="col-md-10">
                <input type="text" id="example-progress-address" name="example-progress-address" class="form-control ui-wizard-content" placeholder="Nhà xây từ bao giờ" disabled="disabled">
              </div>
            </div>
          </div>
          <div id="progress-third" class="step ui-formwizard-content" style="display: none;">
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-bio">Bio</label>
              <div class="col-md-10">
                <textarea></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="example-newsletter">Newsletter</label>
              <div class="col-md-10">
                <div class="checkbox">
                  <label for="example-progress-newsletter">
                  <input type="checkbox" id="example-progress-newsletter" name="example-progress-newsletter" class="ui-wizard-content" disabled="disabled"> Sign up
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label"><a href="#modal-terms" data-toggle="modal">Terms</a></label>
              <div class="col-md-10">
                <label class="switch switch-primary" for="example-progress-terms">
                <input type="checkbox" id="example-progress-terms" name="example-progress-terms" value="1" class="ui-wizard-content" disabled="disabled">
                <span data-toggle="tooltip" title="" data-original-title="I agree to the terms!"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="col-md-8 col-md-offset-6">
              <input type="reset" class="btn btn-sm btn-warning ui-wizard-content ui-formwizard-button" id="back3" value="Back" disabled="disabled">
              <input type="submit" class="btn btn-sm btn-primary ui-wizard-content ui-formwizard-button" id="next3" value="Next">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
