<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
          <h1>Welcome <strong>Admin</strong><br><small>You Look Awesome!</small></h1>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>1.937k</strong><br>
                <small><i class="gi gi-eye_open"></i> Visits</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>5649</strong><br>
                <small><i class="gi gi-pencil"></i> New submits</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong>253</strong><br>
                <small><i class="gi gi-file"></i> New articles </small>
              </h2>
            </div>
            <!-- We hide the last stat to fit the other 3 on small devices -->
            <div class="col-sm-3 hidden-xs">
              <h2 class="animation-hatch">
                <strong>35&deg; C</strong><br>
                <small><i class="fa fa-map-marker"></i> DaNang</small>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="widget">
        <div class="widget-simple">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background">
          <i class="gi gi-parents"></i>
          </a>
          <h4 class="widget-content text-right animation-hatch">
            <a href="javascript:void(0)">10.254 <strong>User</strong></a>
            <small>was <em>Register</em></small>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <!-- Widget -->
      <div class="widget">
        <div class="widget-simple">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background-fancy">
          <i class="gi gi-group"></i>
          </a>
          <h4 class="widget-content text-right animation-hatch">
            <a href="javascript:void(0)">256 <strong>Companies</strong></a>
            <small>be <em>Partner</em></small>
          </h4>
        </div>
      </div>
      <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-md-4">
      <!-- Widget -->
      <div class="widget">
        <div class="widget-simple">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background-fire">
          <i class="gi gi-pencil"></i>
          </a>
          <h4 class="widget-content text-right animation-hatch">
            <a href="javascript:void(0)">2.120 <strong>Articles</strong></a>
            <small>about <em>Construction && Architecture</em></small>
          </h4>
        </div>
      </div>
      <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-md-4">
      <!-- Widget -->
      <div class="widget">
        <div class="widget-simple themed-background-dark">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background">
          <i class="gi gi-tree_conifer"></i>
          </a>
          <h4 class="widget-content widget-content-light text-right animation-hatch">
            <a href="javascript:void(0)">820.927 <strong>Lands</strong></a>
            <small>in <em>Việt Nam</em></small>
          </h4>
        </div>
      </div>
      <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-md-4">
      <!-- Widget -->
      <div class="widget">
        <div class="widget-simple themed-background-dark-fire">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background-fire">
          <i class="gi gi-home"></i>
          </a>
          <h4 class="widget-content widget-content-light text-right animation-hatch">
            <a href="javascript:void(0)" class="themed-color-fire">124.993 <strong>Houses</strong></a>
            <small>in <em>Việt Nam</em></small>
          </h4>
        </div>
      </div>
      <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-md-4">
      <!-- Widget -->
      <div class="widget">
        <div class="widget-simple themed-background-dark-autumn">
          <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background-autumn">
          <i class="hi hi-tower"></i>
          </a>
          <h4 class="widget-content widget-content-light text-right animation-hatch">
            <a href="javascript:void(0)" class="themed-color-autumn">16.765 <strong>Apartments</strong></a>
            <small>in <em>Việt Nam</em></small>
          </h4>
        </div>
      </div>
      <!-- END Widget -->
    </div>
  </div>
</div>
