<!DOCTYPE html>
<html>
  <head>
    <title>Ecoinomic</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin_manager', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin_manager', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="login-background">
      <img src="img/placeholders/headers/login_header.jpg" alt="Login Background"
        class="animation-pulseSlow">
    </div>
    <div id="login-container" class="animation-fadeIn">
      <%= yield %>
      <footer class="text-muted text-center">
        <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI 2.1</a></small>
      </footer>
    </div>
  </body>
</html>
